
html,body,div{
    margin: 0;
    padding: 0;
}

#wrapper{
   margin: auto;
   width: 1440px;
   background-color: red;
}

#top{
    height: 90px;
    color: white;
    background-color: #005c40;
}

#content{
    min-height: 600px;
    color: white;
    background-color: #004630;
}

.logo{
    background-color: white;
    min-height: 80px;
    padding: 5px;
}
