html {
    font-family: sans-serif;
}

header {
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    font-weight: bold;
    background-color: #70CBF4;
    padding: 0.1cm;
    text-align: center;
}

img {
    float: left;
}

h1 {
    color: #D40E14;
}

.voor-achter-naam {  
    color: black;
}