* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    color: white;
}


nav {
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 20vh;
    background-color: #006445;
    flex-wrap: wrap;

    font-size: 5rem;
}
nav ul {
    padding-bottom: 3rem;
}   
nav li {
    display: inline-block;
    list-style: none;
}
#image_nav {
    background-color: white;
    height: 15vh;
    justify-content: flex-start;
}


.title {
    display: flex;
    background: #dbff4a;
    width: 100vw;
    max-width: 100%;
    height: auto;
    font-size: 3rem;
    flex-direction: column;
    text-align: center;
}
#title_h2 {
    color: black;
}
#title_under1 {
    color: #004630;
}
#title_under2 {
    color: #004630;
}

main {
    font-size: 10rem;
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #004630;
}

footer {
    display: flex;
}