html {
  font-size: 62.5%;
  background-color: black;
  color: white;
}
body {
  font-family: "Goldman", cursive;
}


.title_screen {
  text-align: center;

  background-repeat: no-repeat;
  background-image: url("/p1-HTML-CSS/Week 3/first_year_tcr_exercise/img/ethical_hacker.jpg");
  background-size: 100% 100%;
  height: 1000px;
  z-index: -1;
}


nav {
  position: static;
  display: flex;
  size: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

article {
  width: 100vw;
  height: 100vh;
}

h2 {
  font-weight: bold;
  text-align: center;
}

.tekst {
  padding-top: 500px;
  font-size: 12px;  
  font-family: Verdana;
  list-style-type: circle;
}

.tekst2 {
  font-size: 12px;  
  font-family: Verdana;
}

h4 {
  font-size: 50px;
}


footer {
  background-color: #00a8c7;
  text-align: center;
  height: 5vw;
  font-size: 25px;
}
