* {
    size: 62.5%;
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

.nav_container {
    display: flex;
    position: sticky;
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: 9rem;
    background-color: #006445;
    flex-direction: column;
    padding-top: 1rem;
}
#title_nav {
    display: flex;
    justify-content: center;
    font-size: 300%;
    text-decoration: underline;
    color: white;
    text-shadow: 0px 2px 2.5px black;
}
.list_items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 125%;
    list-style-type: none;
    padding-top: 1rem;
}
.nav_a {
    display: flex;
    background-color: #177d5e;

    text-decoration: none;
    padding: 0.75rem;
    border-radius: 9px;
    box-shadow: 0px 2.5px 5px black;
}
a {
    text-decoration: none;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 5;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
}
.dropdown_content a {
    color: white;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #006445;
}
.dropdown_btn {
    display: flex;
    background-color: #177d5e;

    text-decoration: none;;
    padding: 0.75rem;
    border-radius: 9px;
    box-shadow: 0px 2.5px 5px black;
}
.a_btn {
    display: flex;
}
.dropdown:hover .dropdown_content{
    display: flex;
    flex-direction: column;
}
.a_btn:hover {
    background-color: #177d5e;
}




main {
    width: 100vw;
    max-width: 100%;
    height: 78.9vh;
    background-color: #004630;
}
.home_main_header {
    display: flex;
    flex-wrap: wrap;
    background-color: #dbff4a;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    justify-content: center;
}
#home_title_1 {
    margin-top: 1%;
    display: flex;
    color: black;
    width: 100%;
    font-size: 300%;
    justify-content: center;
}
#home_title_2 {
    display: flex;
    color: black;
    width: 100%;
    font-size: 300%;
    justify-content: center;
    text-decoration: underline;
}
.home_main_header p {
    margin: 1% 0;
    display: flex;
    color: #004630;
    width: 65%;
    font-size: 200%;
    font-weight: bold;
    text-shadow: 0px 2.5px 5px #93C837;
}
#begeleiding_link_txt {
    display: flex;
    width: 35%;
    height: fit-content;
    margin-top: 2.5%;
    margin-right: 0;
    margin-bottom: 1%;
    margin-left: 5%;
    font-size: 250%;
}
#begeleiding_link_btn {
    display: flex;
    background-color: #dbff4a;
    font-size: 200%;
    color: #004630;
    width: fit-content;
    margin-left: 5%;
    padding: 0.35% 1%;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 0px 2.5px 5px black;
}
#canvas_link_txt {
    display: flex;
    width: 60%;
    height: fit-content;
    margin-top: 5%;
    margin-right: 0;
    margin-bottom: 1%;
    margin-left: 5%;
    font-size: 250%;
}
#canvas_link_btn {
    display: flex;
    background-color: #dbff4a;
    font-size: 200%;
    color: #004630;
    width: fit-content;
    margin-left: 5%;
    padding: 0.35% 1%;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 0px 2.5px 5px black;
}
#home_img_school {
    position: absolute;
    width: 30%;
    border: 3px solid #dbff4a;
    margin-left: 66%;
    margin-top: 2.5%;
    box-shadow: 0px 2.5px 5px black;
}



footer {
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 2.5rem;
    background-color: #006445;
    justify-content: center;
    align-items: center;
}
.footer_list {
    display: flex;
    flex-direction: row;
    width: 90vw;
    max-width: 100%;
    height: 2.5rem;
    justify-content: space-evenly;
}
.footer_a {
    display: flex;
    font-size: 150%;
    padding-top: 0.35rem;
    text-shadow: 0px 1px black;
}

.img_footer {
    display: flex;
    height: 2.5rem;
    justify-content: flex-start;
    background-color: white;
}